$font-size-xs: 1rem; 
$font-size-sm: 1.4rem; 
$font-size-md: 1.6rem; 
$font-size-lg: 1.8rem; 
$font-size-xl: 2.0rem; 
$font-size-xxl: 2.4rem; 


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


$line-height-sm: 1.4;
$line-height-md: 1.6;
$line-height-lg: 1.8;