.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(0, 183, 255);
    padding: 1rem;
    color: white;

    li {
        flex: 1;
    }

    h5 {
        font-size: 14px;
    }
}